#modelview-plot-mods {		display: flex; flex-direction: row; flex-wrap: nowrap; }
#modelview-plot-storage {	width: 100%; height: 500px; }
.modelview-plot-mods-selector { width: 33%; text-align: center; }
.modelview-plot-mods-control {	width: 100%; }

#modelview-proj-mods { 		display: flex; flex-direction: row; }
#modelview-add-proj-button { 	margin: 50px; }
.modelview-proj-config { 	width: 66%; text-align: center; }

#modelview-cat-filter-control { display: none; position: absolute; z-index: 10000; text-align: center; width: 33%; }
