{% extends "base.html" %}

{% block page %}
{% asset 'ckanext-modelview/modelview-css' %}

  <div id="modelview-plot-container" data-module="modelview_iframe" data-module-resource="{{ resource_json }}"
       data-module-resource-view="{{ resource_view_json }}" data-module-package="{{ package_json }}">
      <div id="modelview-plot-mods">
              <div id="modelview-X-container" class="modelview-plot-mods-selector">
              </div>
              <div id="modelview-Y-container" class="modelview-plot-mods-selector">
              </div>
              <div id="modelview-cat-container" class="modelview-plot-mods-selector">
              </div>
      </div>
      <div id="modelview-plot-storage">
    	<h4 class="loading-dialog">
      		<div class="left">{{ _('Loading...') }}</div>
    	</h4>
      </div>
      <div id="modelview-proj-mods">
              <div id="modelview-proj-available" class="modelview-plot-mods-selector">
              </div>
              <div id="modelview-projection-config" class="modelview-proj-config">
                      <input id="modelview-add-proj-button" type="button" value="Add New..." />
              </div>
      </div>

  </div>
  
  {% asset 'base/view-filters' %}
  {% asset 'ckanext-modelview/modelview-js' %}
{% endblock %}

{% block styles %}{% endblock %}
{% block custom_styles %}{% endblock %}
